
*.xml
*.mp3
bin/Debug/net6.0/Basic.Reference.Assemblies.Net60.dll
bin/Debug/net6.0/BatzUtils.deps.json
bin/Debug/net6.0/BatzUtils.dll
bin/Debug/net6.0/BatzUtils.pdb
bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/CsvHelper.dll
bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/FNA.dll
bin/Debug/net6.0/FNA.pdb
bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/Hjson.dll
bin/Debug/net6.0/Humanizer.dll
bin/Debug/net6.0/Ionic.Zip.Reduced.dll
bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/log4net.dll
bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net6.0/Microsoft.Build.Locator.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.pdb
bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.pdb
bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.FlowAnalysis.Utilities.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.pdb
bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.pdb
bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.pdb
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/Mono.Cecil.dll
bin/Debug/net6.0/Mono.Cecil.Mdb.dll
bin/Debug/net6.0/Mono.Cecil.Mdb.pdb
bin/Debug/net6.0/Mono.Cecil.pdb
bin/Debug/net6.0/Mono.Cecil.Pdb.dll
bin/Debug/net6.0/Mono.Cecil.Pdb.pdb
bin/Debug/net6.0/Mono.Cecil.Rocks.dll
bin/Debug/net6.0/Mono.Cecil.Rocks.pdb
bin/Debug/net6.0/MonoMod.Backports.dll
bin/Debug/net6.0/MonoMod.Core.dll
bin/Debug/net6.0/MonoMod.ILHelpers.dll
bin/Debug/net6.0/MonoMod.RuntimeDetour.dll
bin/Debug/net6.0/MonoMod.Utils.dll
bin/Debug/net6.0/MP3Sharp.dll
bin/Debug/net6.0/Newtonsoft.Json.dll
bin/Debug/net6.0/NVorbis.dll
bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/RailSDK.Net.dll
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/Steamworks.NET.dll
bin/Debug/net6.0/SteelSeriesEngineWrapper.dll
bin/Debug/net6.0/System.CodeDom.dll
bin/Debug/net6.0/System.Composition.AttributedModel.dll
bin/Debug/net6.0/System.Composition.Convention.dll
bin/Debug/net6.0/System.Composition.Hosting.dll
bin/Debug/net6.0/System.Composition.Runtime.dll
bin/Debug/net6.0/System.Composition.TypedParts.dll
bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0/System.Diagnostics.PerformanceCounter.dll
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.IO.Pipelines.dll
bin/Debug/net6.0/System.Reflection.MetadataLoadContext.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.Windows.Extensions.dll
bin/Debug/net6.0/TerrariaHooks.dll
bin/Debug/net6.0/tModLoader.dll
bin/Debug/net6.0/tModLoader.pdb
bin/Debug/net6.0/tModPorter.dll
bin/Debug/net6.0/tModPorter.dll.config
bin/Debug/net6.0/tModPorter.pdb
bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/UtfUnknown.dll
bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/BatzUtils.csproj.nuget.dgspec.json
obj/BatzUtils.csproj.nuget.g.props
obj/BatzUtils.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/BatzUtils.AssemblyInfo.cs
obj/Debug/net6.0/BatzUtils.AssemblyInfoInputs.cache
obj/Debug/net6.0/BatzUtils.assets.cache
obj/Debug/net6.0/BatzUtils.csproj.AssemblyReference.cache
obj/Debug/net6.0/BatzUtils.csproj.CopyComplete
obj/Debug/net6.0/BatzUtils.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/BatzUtils.csproj.FileListAbsolute.txt
obj/Debug/net6.0/BatzUtils.dll
obj/Debug/net6.0/BatzUtils.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/BatzUtils.pdb
obj/Debug/net6.0/ref/BatzUtils.dll
obj/Debug/net6.0/refint/BatzUtils.dll
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.restore.info
Properties/launchSettings.json
